h1 {
    font-color:#0000b8
    align: "center"

}

.w3-tangerine {
  font-family: "Tangerine", serif;
}

html {
    background-image: url(Imagini/raspberryPI.gif), url(img1.jpg);
    background-position: left bottom, center fixed;
    background-size: 5%, cover;
    background-repeat: no-repeat, no-repeat;
    padding: 2px;
  }

  div.wall {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}


.btn-group .button {
    display: inline-block;
    padding: 2px 6px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f4511e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}

.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #008CBA;
}

.btn-group .button:active {
    background-color: #008CBA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button_me {
    display: inline-block;
    padding: 2px 6px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #008CBA;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}

.button_me:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.button_me:hover {
    background-color: #f44336;
}

.button_me:active {
    background-color: #f44336;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

img {
    opacity: 1.0;
}


div {
    background-color:lavender;
}

body {
    background-image: url("img1.jpg");
    }

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}