<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachment_Detail</title>
</head>
<body>
{% extends 'main.html' %}

    {% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button_me" type="submit" value="Add Update"/>
    </form>
    {% endblock %}
</body>
</html>