<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atachment_Delete</title>
</head>
<body>
{{% extends 'main.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
        <h1>Are you sure that you want to delete file {{ attachment.file }}</h1></p>
        <input class="button_me" type="submit" value="YES"/>
        <input class="button_me" type="submit" name="cancel" value="NO"/>
    </form>
{% endblock %}
</body>
</html>