<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachment_Detail</title>
</head>
<body>
{% extends "main.html" %}

{% block content %}
    <div style="text-align: center;">
        <h1><b>ATTACHMENT</b></h1>
        <p>file: &nbsp;&nbsp;&nbsp;<u><b><font color="blue" size="6"> {{ attachment.file }} </font></b></u></p>
        <h4>Attached by the user: <b style="color:hsl(349,100%,61%)">{{ attachment.user }} </b></h4>
        <p>PK: <font color="brown" size="4">{{ attachment.pk }}</font></p>

        <a href="{% url 'attachment_update' pk=attachment.pk %}">
            <button class="button_me">Edit file</button>
        </a>
        <a href="{% url 'attachment_delete' pk=attachment.pk %}">
            <button class="button_me">Delete file</button>
        </a>
    </div>
{% endblock %}
</body>
</html>