<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachment_List</title>
</head>
<body>
{% extends "main.html" %}

{% block content %}
<table class="table">
    <tr>
        <th>pk</th>
        <th>file</th>
        <th>user</th>
        <th>download</th>
    </tr>
    {% for attach in attachments %}
    <tr>
        <td><a href="{% url 'attachment_detail' pk=attach.pk %}">{{ attach.pk }}</a></td>
        <td>{{ attach.file }}</td>
        <td>{{ attach.user }}</td>
        <td><a href="{{ attach.file.url }}">
            <button class="button_me">Download</button>
        </a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

</body>
</html>