<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachment_Create</title>
</head>
<body>
{% extends 'main.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button_me" type="submit" value="Add Create"/>

    </form>
{% endblock %}
</body>
</html>