<html lang="en">
<head>
    <title>Raspby</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            background-color: #F7CAC9;
            height: 680px;
        }
        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #92A8D1;
            height: 100%;
        }
        /* Set black background color, white text and some padding */
        footer {
            background-color: #d9a6a9;
            color: blue;
            padding: 15px;
        }
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {
                height: auto;
            }
        }
    </style>
</head>
<body bgcolor="DarkCyan">
<ul class="sidebar-nav">
    {% if user.is_authenticated %}
    <li>user: {{ user.get_username }}</li>
        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    {% endif %}
</ul>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4 style="color:#0000b8">---Raspby---</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href= "{% url 'product_list' %}"><h4><button>Product List</button></h4></a></li>
                <li><a href= "{% url 'product_create' %}"><h4><button>Product Create</button></h4></a></li>
                <li><a href= "{% url 'category_list' %}"><h4><button>Categories</button></h4></a></li>
                <li><a href= "{% url 'category_create' %}"><h4><button>Add Category</button></h4></a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h4><small>Content block</small></h4>
            <hr>
            {% block content %} {% endblock %}
        </div>
    </div>
</div>
<footer class="container-fluid">
    <p>Footer Text</p>
</footer>
</body>
</html>