<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category_DELETE</title>
</head>
<body>
{{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
        <h1>Are you sure that you want to delete item {{ category.name }}</h1></p>
        <input type="submit" value="Delete"/>
        <input type="submit" name="cancel" value="NO"/>
    </form>
{% endblock %}
</body>
</html>