<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category_LIST</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
        <table class="table">
            <tr>
                <th>pk</th>
                <th>name</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td><a href="{% url 'category_detail' category.pk %}">{{ category.pk }}</a></td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.price }}</td>

                </tr>
            {% endfor %}
        </table>
    {% endblock %}

</body>
</html>