<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category_CREATE</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}                   <!-- gdfgdfgdfg -->
        {{ form.as_p }}
        <input type="submit" value="Add Create"/>

    </form>
{% endblock %}                              {# Comment #}

</body>
</html>