<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category-Detail</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
        <div style="text-align: center;">
            <h1><b>CATEGORY</b></h1>
            <p>Name: <b>{{ category.name }}</b></p>
            <p>PK: <font color="#8b0000">{{ category.pk }}</font></p>

        <br />
            <a href="{% url 'category_update' category.pk %}">
                <button class="btn btn-outline-warning mr-3">Edit</button></a>
            <a href="{% url 'category_delete' category.pk %}">
                <button class="btn btn-outline-warning mr-3">Delete</button></a>
        </div>
    {% endblock %}
</body>
</html>