<!doctype html>
{% load static %}
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Raspby</title>
</head>
<body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<header>
    <div class="wall">
        <img src="{%static 'Imagini/img1.jpg' %}" alt="no image" width="1520" height="200">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12" style="background-color:lavender;">
                    <ul class="sidebar-nav">
                        {% if user.is_authenticated %}
                        <li>user: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout' %}?next={{ request.path }}"><span
                                class="glyphicon glyphicon-user"></span>
                            Logout</a>
                        </li>
                        {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}"><span
                                class="glyphicon glyphicon-log-in"></span>
                            Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav" style="background-color:lavenderblush;">
            <div class="w3-container w3-tangerine">
                <h1 class="w3-xxxlarge" align="center"><b>Raspby</b></h1>
            </div>
            <div class="btn-group">
                <ul class="nav nav-pills nav stacked">
                    <li><a href="{% url 'attachment_list' %}">
                        <h4>
                            <button class="button">Attachment List</button>
                        </h4>
                    </a></li>
                    <li><a href="{% url 'attachment_create' %}">
                        <h4>
                            <button class="button">Create Attachment</button>
                        </h4>
                    </a></li>
                    <img src="{%static 'Imagini/raspberryPI.gif' %}" alt="no image" align="center" width="100"
                         height="100">
                </ul>
            </div>
        </div>
        <div class="col-sm-9" style="background-color:lightcyan;">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<footer class="container-fluid">

</footer>
</body>
</html>