<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form action="{% url 'my_form' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button_me" type="submit" value="Submit">
        </form>
</body>
</html>