<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product_CREATE</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
                                            {# Bad! Don't do this. #}
        <form action = "" method="post">
            {% csrf_token %}                   <!-- gdfgdfgdfg -->
            {{ form.as_p }}
            <input type="submit" value="Add Create"/>

        </form>
    {% endblock %}                              {# Bad! Don't do this. #}

</body>
</html>