<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product-Detail</title>
</head>
<body>
<style>
    div {
        background-color: rgb(0, 191, 200);
        color: rgb(255, 255, 255);
        padding: 5px;
    }
</style>

{% extends "base.html" %}

{% block content %}
    <div style="text-align: center;">
        <h1><b>PRODUCT</b></h1>
        <p>Name: &nbsp;&nbsp;&nbsp;<u><b><font color="blue" size="6"> {{ products.name }} </font></b></u></p>
        <h3>Price: <b style="color:#ff0000"> {{ products.price }} </b></h3>
        <h4>Category: <b style="color:hsl(349,100%,61%)">{{ products.category }} </b></h4>
        <p>PK: <font color="brown" size="4">{{ products.pk }}</font></p>
        <img style="max-width:200px" src="{{ products.image }}" alt="">
        <a href="{% url 'product_update' products.pk %}">
            <button>Edit</button>
        </a>
        <a href="{% url 'product_delete' products.pk %}">
            <button>Delete</button>
        </a>
    </div>
{% endblock %}
</body>
</html>