<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product_LIST</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
    <table class="table">
        <tr>
            <th>pk</th>
            <th>name</th>
            <th>price</th>
            <th>category</th>
        </tr>
        {% for product in products %}
            <tr>
                <td><a href="{% url 'product_detail' product.pk %}">{{ product.pk }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

</body>
</html>