<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGGED-OUT</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
        <p>You have been logged out!</p>
        <a href="{% url 'login'%}">Click here to login again.</a>
    {% endblock %}
</body>
</html>