{% extends 'main.html' %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <p>{{ form.email }}</p>
        <input class="button_me" type="submit" class="btn btn-outline-warning mr-3" value="Reset password">
</form>
{% endblock %}